<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.invisino.invisino">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-feature android:name="android.hardware.CAMERA" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".MainCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main_camera"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".NewNoteActivity" />
        <activity android:name=".ViewNoteActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ChangeAccountInfoActivity" />
        <activity android:name=".ViewMyExisitingNotesActivity" />
    </application>

</manifest>